<form (submit)="onSubmit(); $event.preventDefault()" class="auth-form gap">
  <!-- Campo: Nombre del producto -->
  <div class="form-group">
    <label for="name">Nombre del producto</label>
    <div class="input-wrapper">
      <span class="material-symbols-outlined ico-left">inventory_2</span>
      <input
        id="name"
        type="text"
        placeholder="Ej. Precision Workstation X1"
        [formField]="productForm.name"
        class="pad-left"
      />
    </div>
    <div class="error-text">
      @if (productForm.name().touched() && productForm.name().errors().length) {
        <span>{{ productForm.name().errors()[0].message }}</span>
      }
    </div>
  </div>

  <!-- Campo: Descripción detallada -->
  <div class="form-group">
    <label for="description">Descripción detallada</label>
    <div class="input-wrapper">
      <span class="material-symbols-outlined ico-txt">description</span>
      <textarea
        id="description"
        placeholder="Hardware corporativo para desarrolladores"
        [formField]="productForm.description"
        class="pad-txt"
      ></textarea>
    </div>
    <div class="error-text">
      @if (productForm.description().touched() && productForm.description().errors().length) {
        <span>{{ productForm.description().errors()[0].message }}</span>
      }
    </div>
  </div>

  <!-- Campo: Precio -->
  <div class="form-group">
    <label for="price">Precio ($)</label>
    <div class="input-wrapper">
      <span class="material-symbols-outlined ico-left">payments</span>
      <input
        id="price"
        type="number"
        placeholder="0.00"
        [formField]="productForm.price"
        class="pad-left"
      />
    </div>
    <div class="error-text">
      @if (productForm.price().touched() && productForm.price().errors().length) {
        <span>{{ productForm.price().errors()[0].message }}</span>
      }
    </div>
  </div>

  <!-- Campo: Stock (Cantidad en existencia) -->
  <div class="form-group">
    <label for="stock">Stock (Cantidad)</label>
    <div class="input-wrapper">
      <span class="material-symbols-outlined ico-left">inventory</span>
      <input
        id="stock"
        type="number"
        placeholder="0"
        [formField]="productForm.stock"
        class="pad-left"
      />
    </div>
    <div class="error-text">
      @if (productForm.stock().touched() && productForm.stock().errors().length) {
        <span>{{ productForm.stock().errors()[0].message }}</span>
      }
    </div>
  </div>

  <!-- Campo: Categoría (Desplegable) -->
  <div class="form-group">
    <label for="category">Categoría</label>
    <div class="input-wrapper wrap-rel">
      <span class="material-symbols-outlined ico-sel">category</span>
      <select
        id="category"
        [formField]="productForm.category"
        class="pad-left"
      >
        <option value="" disabled selected>Selecciona una categoría</option>
        <option value="Analgésicos">Analgésicos</option>
        <option value="Antibióticos">Antibióticos</option>
        <option value="Vitaminas">Vitaminas</option>
        <option value="Primeros Auxilios">Primeros Auxilios</option>
        <option value="Cuidado Personal">Cuidado Personal</option>
        <option value="Otros">Otros</option>
      </select>
    </div>
    <div class="error-text">
      @if (productForm.category().touched() && productForm.category().errors().length) {
        <span>{{ productForm.category().errors()[0].message }}</span>
      }
    </div>
  </div>

  <!-- Campo: Imagen (Base64) -->
  <div class="form-group">
    <label for="image">Imagen del producto</label>
    <div class="input-wrapper">
      <input type="file" id="image" #imageInput (change)="onFileSelected($event)" accept="image/*" />
    </div>
  </div>

  <!-- Botones de acción -->
  <div class="actions">
    <button type="submit" class="btn-primary flex-1" [disabled]="productForm().invalid() || productForm().pending()">
      <span class="material-symbols-outlined">{{ productModel().id > 0 ? 'save' : 'add_circle' }}</span>
      <span>{{ productModel().id > 0 ? 'Actualizar' : 'Crear' }}</span>
    </button>
    <button type="button" class="btn-secondary clear" (click)="clean()" title="Limpiar formulario">
      <span class="material-symbols-outlined ico-mid">backspace</span>
    </button>
  </div>
</form>
